<section class="container">
    <div class="grid-posts">
        {{#each posts}}
        <div class="post-card">
            <h3 class="post-card-title"><a href="/postagens/{{this.slug}}" title="{{this.title}}">{{this.title}}</a></h3>
            <p class="post-card-desc">{{this.description}}</p>
            <div class="mt-2">
                <span><small><i class="fas fa-clock"></i> {{dateFormat this.created_at}}</small></span>
                <span><small><i class="fas fa-tags ml-2"></i>
                    {{#each this.categories}}
                    <a href="/categorias/{{this.slug}}" title="{{this.name}}" class="p-1 bg-primary ml-1">{{this.name}}</a>
                    {{/each}}
                </small></span>
            </div>
        </div>
        {{/each}}
    </div>
    <aside class="sidemenu">
        <div class="sidemenu-header">
            <h4 class="sidemenu-title">Menu</h4>
        </div>

        <div class="sidemenu-body">
            <form action="" method="POST" class="form form-search">
                <div class="form-group">
                    <input type="search" name="search" placeholder="Buscar..." class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <div class="categories-card mt-4">
                <div class="categories-card-header">
                    <h4 class="categories-card-title">Categorias</h4>
                </div>
                <div class="categories-card-body">
                    <ul>
                        {{#each categories}}
                        <li><a href="/categorias/{{this.slug}}" title="{{this.name}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</section>