<section class="container">
    <div>
        <div class="mb-4">
            <h2 class="mb-2">Postagens relacionadas à categoria: {{category.name}}</h2><hr>
        </div>

        <div class="grid-posts">
            {{#each posts}}
            <div class="post-card">
                <h3 class="post-card-title"><a href="/postagens/{{this.slug}}" title="{{this.title}}">{{this.title}}</a></h3>
                <p class="post-card-desc">{{this.description}}</p>
                <div class="mt-2">
                    <span><small><i class="fas fa-clock"></i> {{dateFormat this.created_at}}</small></span>
                    <span><small><i class="fas fa-tags ml-2"></i>
                        {{#each this.categories}}
                        <a href="/categorias/{{this.slug}}" title="{{this.name}}" class="p-1 bg-primary ml-1">{{this.name}}</a>
                        {{/each}}
                    </small></span>
                </div>
            </div>
            {{else}}
            <p class="mt-3">Não há postagens relacionadas à esta categoria: {{category.name}}</p>
            {{/each}}
        </div>

        {{> _pagination}}
    </div>
    
    <div>
        {{> site/_sidebar}}
    </div>
</section>