<section class="p-4 border panel">
    <h2>Editar Função</h2>
    <hr>
    <form action="/painel/funcoes/{{role.id}}/editar/salvar" method="POST" class="form">
        <div class="form-group">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" name="name" placeholder="Nome" id="name" class="form-control" value="{{role.name}}">
        </div>

        <div class="form-group">
            <label for="description" class="form-label">Descrição:</label>
            <textarea type="text" name="description" placeholder="Descrição" id="description" class="form-control" rows="5">{{role.description}}</textarea>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Permissões</div>
            <div class="panel-body">
                <div class="grid-6">
                    {{#each permissions}}
                        {{#if (includes ../role.permissions this._id)}}
                        <div>
                            <input type="checkbox" name="permissions[]" id="permission_{{this._id}}" checked>
                            <label for="permission_{{this._id}}" class="form-label">{{this.name}}</label>
                        </div>
                        {{else}}
                        <div>
                            <input type="checkbox" name="permissions[]" id="permission_{{this._id}}">
                            <label for="permission_{{this._id}}" class="form-label">{{this.name}}</label>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary p-2">Salvar <i class="fa-solid fa-floppy-disk"></i></button>
    </form>
</section>