<section class="p-4 border panel">
    <div class="grid-2">
        <div>
            <h2>Categorias</h2>
        </div>
        <div>
            <a href="/painel/categorias/novo" title="Nova Categoria" class="btn btn-primary pull-right">Novo <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Criado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <td><a href="{{this.slug}}" target="_blank" title="">{{this.name}} <i class="fa-solid fa-external-link"></i></a></td>
                <td>{{dateFormat this.created_at}}</td>
                <td>
                    <a href="/painel/categorias/{{this._id}}/editar" class="btn btn-primary" title="Editar Categoria"><i class="fa-solid fa-pencil"></i></a>
                    <a href="/painel/categorias/{{this._id}}/deletar" class="btn btn-danger" title="Deletar Categoria"><i class="fa-solid fa-trash-alt"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>