{{#if (helpers.can 'delete.categories')}}
<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="" method="POST" class="modal-content form-delete">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deletar Categoria</h4>
            </div>
            <div class="modal-body">
                <p>Deseja realmente deletar essa categoria?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Deletar</button>
            </div>
        </form>
    </div>
</div>
{{/if}}

<section class="p-4 border panel">
    <div class="grid-2">
        <div>
            <h2>Categorias</h2>
        </div>
        {{#if (helpers.can 'create.categories')}}
        <div>
            <a href="/painel/categorias/novo" title="Nova Categoria" class="btn btn-primary pull-right">Novo <i class="fa-solid fa-circle-plus"></i></a>
        </div>
        {{/if}}
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Criado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <td><a href="/categorias/{{this.slug}}" target="_blank" title="">{{this.name}} <i class="fa-solid fa-external-link"></i></a></td>
                <td>{{dateFormat this.created_at}}</td>
                <td>
                    {{#if (../helpers.can 'edit.categories')}}
                    <a href="/painel/categorias/{{this._id}}/editar" class="btn btn-primary" title="Editar Categoria"><i class="fa-solid fa-pencil"></i></a>
                    {{/if}}

                    {{#if (../helpers.can 'delete.categories')}}
                    <a href="javascript:void(0)" class="btn btn-danger" title="Deletar Categoria" data-toggle="modal" data-target="#modalDelete" data-delete="/painel/categorias/{{this._id}}/deletar"><i class="fa-solid fa-trash-alt"></i></a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{> _pagination}}
</section>