<section class="container">
    <div class="single-post">
        <h2 class="single-post-title mb-2">{{post.title}}</h2>
        <div class="mb-5">
            <span><small><i class="fas fa-clock"></i> {{dateFormat post.created_at}}</small></span>
            <span><small><i class="fas fa-tags ml-2"></i>
                {{#each post.categories}}
                <a href="/categorias/{{this.slug}}" title="{{this.name}}" class="p-1 bg-primary ml-1">{{this.name}}</a>
                {{/each}}
            </small></span>
        </div>

        <div>{{{post.content}}}</div>
    </div>
    <div>
        {{> site/_sidebar}}
    </div>
</section>