<section class="p-4 border panel">
    <h2>Bem-vindo, Ryan!</h2><hr>

    <div class="grid-5">
        <a href="/painel/usuarios" title="Usuários">
            <div class="panel panel-default" style="margin: 0px;">
                <div class="panel-heading">Usuários</div>
                <div class="panel-body">
                    <h3 class="pull-left">{{count.users}}</h3>
                    <i class="fa-solid fa-users pull-right text-primary"></i>
                </div>
            </div>
        </a>
        <a href="/painel/postagens" title="Postagens">
            <div class="panel panel-default" style="margin: 0px;">
                <div class="panel-heading">Postagens</div>
                <div class="panel-body">
                    <h3 class="pull-left">{{count.posts}}</h3>
                    <i class="fa-solid fa-newspaper pull-right text-danger"></i>
                </div>
            </div>
        </a>
        <a href="/painel/categorias" title="Categorias">
            <div class="panel panel-default" style="margin: 0px;">
                <div class="panel-heading">Categorias</div>
                <div class="panel-body">
                    <h3 class="pull-left">{{count.categories}}</h3>
                    <i class="fa-solid fa-tags pull-right text-warning"></i>
                </div>
            </div>
        </a>
        <a href="/painel/funcoes" title="Funções">
            <div class="panel panel-default" style="margin: 0px;">
                <div class="panel-heading">Funções</div>
                <div class="panel-body">
                    <h3 class="pull-left">{{count.roles}}</h3>
                    <i class="fa-solid fa-user-tie pull-right text-success"></i>
                </div>
            </div>
        </a>

        <a href="/painel/permissoes" title="Permissões">
            <div class="panel panel-default" style="margin: 0px;">
                <div class="panel-heading">Permissões</div>
                <div class="panel-body">
                    <h3 class="pull-left">{{count.permissions}}</h3>
                    <i class="fa-solid fa-lock pull-right text-dark"></i>
                </div>
            </div>
        </a>
    </div>
</section>